<template>
    <b-container v-if="anyAvailable()">
        <b-row v-bind:class="{selectedStyle: allSubroomsSelected}" class="room border border-primary">
            <div class="roomComp">
                [{{room.id}}] {{room.name}}
                <div v-for="s in room.subRooms" :key="s.id">
                    <SubRoom v-if="leaseAnalyzer.available(s, leases, from, to)" @click="childClicked" :segment="s"></SubRoom>
                </div>
            </div>
        </b-row>
    </b-container>
</template>

<script>
import SubRoom from "@/components/SubRoom.vue"
import { Lease } from "../services//Lease.js"
export default {
  props: ['room', 'leases', 'from', 'to'],
  components: { SubRoom },
  data() {
    return {
        allSubroomsSelected: false,
        leaseAnalyzer: new Lease(),
    }
  },
  methods: {
      anyAvailable(){
          for (let i = 0; i < this.room.subRooms.length; i++)
            if (this.leaseAnalyzer.available(this.room.subRooms[i], this.leases, this.from, this.to))
                return true;
          return false;
      },
      childClicked(){
          for (var i = 0; i < this.room.subRooms.length; i++){
            if (!this.room.subRooms[i].selected){
                this.allSubroomsSelected = false;
                return;
            }
          }
        this.allSubroomsSelected = true;
      },
  },
};
</script>

<style>
.room {
    overflow: hidden;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    
    background-color: white;
    display: block;
    border-style: black;
    border-radius: 5px;
    max-height: 25px;
    transition-duration: 1s;

}
.room:hover{
    background-color: rgba(168, 168, 168, 0.438);
    max-height: 400px;
}
.roomComp{
    margin-left: 3px;
}
.selectedStyle{
    background-color: #007bff !important;
    color:white;
}
</style>