<template>
  <b-container>
    <b-row class="segment border border-primary" :class="{selectedStyle : selected}" v-on:click="selectedMethod">
      <div class="segmentComp">[{{segment.id}}] {{segment.name}}</div>
    </b-row>
  </b-container>
</template>

<script>

export default {
    props: ['segment'],
    data(){
        return{
            selected: false,
        }
    },
    methods: {
        selectedMethod(){
            this.selected = !this.selected;
            this.segment.selected = this.selected;
            this.$emit("click");
        }
    },

};
</script>

<style>
.segment {
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
  display: block;
  border-style: black;
  border-radius: 5px;
}
.segment:hover {
  background-color: rgba(168, 168, 168, 0.438);
}
.segmentComp{
    margin-left: 3px;
}
.selectedStyle{
    background-color: #007bff !important;
}
</style>