<template>
  <b-container v-if="leaseAnalyzer.available(equipment, leases, from, to)">
    <b-row class="utstyr border border-primary" :class="{selectedStyle : selected}" v-on:click="selectedMethod">
      <div class="utstyrComp">[{{equipment.type}} : {{equipment.serialNumber}}] {{equipment.name}}</div>
    </b-row>
  </b-container>
</template>

<script>
import { Lease } from "../services//Lease.js"
export default {
  props: ['equipment', 'leases', 'from', 'to'],
    data(){
        return{
            selected: false,
            leaseAnalyzer: new Lease(),
        }
    },
    methods: {
        selectedMethod(){
            this.selected = !this.selected;
            this.equipment.selected = this.selected;
        },
    }
};
</script>

<style>
.utstyr {
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  display: block;
  border-style: black;
  border-radius: 5px;
  background-color: white;
  transition: 0.3s;
}
.utstyr:hover {
  background-color: rgba(168, 168, 168, 0.438);
}
.utstyrComp{
    margin-left: 3px;
}
.selectedStyle{
    background-color: #007bff !important;
}
</style>