<template>
  <div id="app">
    <b-navbar
      type="dark"
      :variant="primaryVariantCompute"
      class="justify-content-center"
      v-show="this.$route.path !== '/'"
    >
      <b-navbar-brand class="homenav" href="http://localhost:8080/menu">
        Hovedmeny
      </b-navbar-brand>
      <b-navbar-brand
        class="homenav"
        href="http://localhost:8080/myReservations"
      >
        Mine Reservasjoner
      </b-navbar-brand>
      <b-navbar-brand
        class="homenav"
        href="#"
        v-if="loggedOn"
        v-on:click="logout"
      >
        Log ut
      </b-navbar-brand>
    </b-navbar>
    <router-view />
  </div>
</template>

<script>
import { Http } from "../src/services/Http.js";
const http = new Http();
export default {
  data() {
    return {
      primaryVariant: true,
      loggedOn: true,
    };
  },
  computed: {
    primaryVariantCompute() {
      this.primaryVariantMethod();
      return this.primaryVariant ? "primary" : "danger";
    },
  },
  methods: {
    primaryVariantMethod() {
      if (
        this.$route.path == "/adminController" ||
        this.$route.path == "/adminBrukere" ||
        this.$route.path == "/adminStatistikk" ||
        this.$route.path == "/adminUtstyr" ||
        this.$route.path == "/adminRoom" ||
        this.$route.path == "/adminSubRoom"
      ) {
        this.primaryVariant = false;
      } else this.primaryVariant = true;
      console.log(this.primaryVariant);
    },
    logout(event) {
      event.preventDefault();
      http.postData("user/logout").then((response) => {
        if (response.error) alert(response.error);
        this.$router.push({ name: "Login" });
      });
    },
  },
  mounted: {},
};
</script>

<style>
.homenav {
  margin: 0px;
  margin-right: 10px;
  padding: 5px;
}
.cardBackground1 {
  background-color: rgb(235, 235, 235);
}
.menu-button {
  background-color: white;
}
</style>
