<template>
  <b-container>
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Opprett Rom"
          header-bg-variant="danger"
          header-text-variant="white"
          class="cardBackground1"
        >
          <b-card-text>
            <b-form @submit="onSubmit">
              <b-form-group description="Name of room" label="Name">
                <b-form-input v-model="name" required></b-form-input>
              </b-form-group>
              <b-form-group description="Max people in the room" label="Max People">
                <b-form-input v-model="max" required></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-button type="submit" variant="outline-danger"
                  >Lag Rom</b-button
                >
              </b-form-group>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

import { Http } from "../services/Http.js"
const http = new Http();

export default {

  data() {
    return {
      name: "",
      max: "",
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      let payload = {
        name: this.name,
        maxPeople: this.max,
       
      }
      http
        .postData("room", payload)
        .then((data)=> {
          console.log(data);
          console.log(data.status)
        })
      //this.$router.push({ name: "Admin Controller" });
    }

  },
  computed: {},

}
</script>

<style>

</style>