<template>
  <b-container>
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Opprett Bruker"
          header-bg-variant="danger"
          header-text-variant="white"
          class="cardBackground1"
        >
          <b-card-text>
            <b-form @submit="onSubmit">
              <b-form-group description="E-Mail" label="Email">
                <b-form-input
                  v-model="email"
                  type="email"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group description="Brukernavn" label="Brukernavn">
                <b-form-input v-model="username" required></b-form-input>
              </b-form-group>
              <b-form-group description="Passord" label="Passord">
                <b-form-input
                  v-model="password"
                  type="password"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group description="Mobil nummer" label="Mobil nummer">
                <b-form-input
                  v-model="tlf"
                  type="number"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group description="Slutt dato" label="Slutt dato">
                <b-form-input
                  v-model="endDate"
                  type="date"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-button type="submit" variant="outline-danger" class="menu-button"
                  >Lag bruker</b-button
                >
              </b-form-group>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { Http } from "../services/Http.js"
const http = new Http();

export default {
  data() {
    return {
      email: "",
      username: "",
      password: "",
      tlf: "",
      endDate: "",
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      let payload = {
        name: this.username,
        email: this.email,
        phone: this.tlf,
        role: "USER",
        password: this.password,
        validUntil: this.endDate,
      }
      http
        .postData("user", payload)
        .then(response => response.json())
        .then((data)=> {
          if (data.error) alert(data.error);
        })
      //this.$router.push({ name: "Admin Controller" });
    }

  },
  computed: {},
};
</script>

<style>
</style>