<template>
  <b-container>
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Opprett Utstyr"
          header-bg-variant="danger"
          header-text-variant="white"
          class="cardBackground1"
        >
          <b-card-text>
            <b-form @submit="onSubmit">
              <b-form-group description="Navn på utstyr" label="Navn">
                <b-form-input v-model="name" required></b-form-input>
              </b-form-group>
              <b-form-group description="Utstyr type" label="Type">
                <b-form-input v-model="type" required></b-form-input>
              </b-form-group>
              <b-form-group description="Beskrivelse" label="Beskrivelse">
                <b-form-input v-model="description" required></b-form-input>
              </b-form-group>
              <b-form-group description="Serie nummer" label="Serie nummer">
                <b-form-input v-model="serialNumber" required></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-button type="submit" variant="outline-danger" class="menu-button"
                  >Opprett</b-button
                >
              </b-form-group>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

import { Http } from "../services/Http.js"
const http = new Http();

export default {

  data() {
    return {
      name: "",
      type: "",
      description: "",
      serialNumber: "",
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      let payload = {
        type: this.type,
        name: this.name,
        serialNumber: this.serialNumber,
        description: this.description,
       
      }
      http
        .postData("equipment", payload)
        .then((data)=> {
          console.log(data);
          console.log(data.status)
        })
      //this.$router.push({ name: "Admin Controller" });
    }

  },
  computed: {},

}
</script>

<style>

</style>