<template>
  <b-container>
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Statestikk"
          header-bg-variant="danger"
          header-text-variant="white"
          class="cardBackground1"
        >
          <b-card-text>
            <b-form @submit="onSubmit">
              <b-form-group
                description="Equipment or segment"
                label="Equipment or segment"
              >
                <select v-model="choseEquipment" required>
                  <option value="true">Utstyr</option>
                  <option value="false">Delrom</option>
                </select>
              </b-form-group>
              <b-form-group description="ID" label="ID">
                <select
                  v-if="choseEquipment == 'true'"
                  v-model="equipment"
                  required
                >
                  <option v-for="e in equipments" :key="e.id" v-bind:value="e">
                    [{{ e.type }} : {{ e.serialNumber }}] {{ e.name }}
                  </option>
                </select>
                <select
                  v-else-if="choseEquipment == 'false'"
                  v-model="segment"
                  required
                >
                  <option v-for="s in segments" :key="s.id" v-bind:value="s">
                    [{{ s.id }}] {{ s.name }}
                  </option>
                </select>
              </b-form-group>
              <b-form-group description="Fra dato" label="Fra dato">
                <b-form-input
                  v-model="from"
                  type="date"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group description="Slutt dato" label="Slutt dato">
                <b-form-input v-model="to" type="date" required></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-button
                  type="submit"
                  variant="outline-danger"
                  style="transition: 0.3 ease"
                  class="menu-button"
                  >Hent Statesikk</b-button
                >
              </b-form-group>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>

    <transition name="fade" appear>
      <div class="modal-overlay" v-if="showModal"></div>
    </transition>
    <transition>
      <div v-if="showModal">
        <b-card
          header="Statistikk"
          header-bg-variant="danger"
          header-text-variant="white"
          class="modal-front"
        >
          <b-card-text>
            <div v-for="stat in stats" :key="stat.user.id">
              <h4>{{ stat.user.name }} brukte det {{ stat.hours }} timer</h4>
            </div>

            <b-button
              type="button"
              v-on:click="showModal = false"
              variant="danger"
              >Lukk</b-button
            >
          </b-card-text>
        </b-card>
      </div>
    </transition>
  </b-container>
</template>

<script>
import { Http } from "../services/Http.js";
const http = new Http();

export default {
  data() {
    return {
      choseEquipment: "",
      equipment: null,
      equipments: [],
      segment: null,
      segments: [],
      stats: [],
      from: "1900-01-01",
      to: "2500-01-01",
      showModal: false,
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      let payload = {
        from: this.from,
        to: this.to,
      };
      let dst = this.choseEquipment == "true" ? "equipment" : "room";
      let id =
        this.choseEquipment == "true" ? this.equipment.id : this.segment.id;
      http
        .postData("lease/" + dst + "/" + id + "/stat", payload)
        .then((response) => response.json())
        .then((data) => {
          this.stats = data;
          this.showModal = true;
        });
    },
    load_equipments() {
      http
        .getData("equipment")
        .then((response) => response.json())
        .then((data) => {
          this.equipments = data;
        });
    },
    load_segments() {
      http
        .getData("room/section")
        .then((response) => response.json())
        .then((data) => {
          this.segments = data;
        });
    },
  },
  mounted: function () {
    this.load_equipments();
    this.load_segments();
  },
  computed: {},
};
</script>

<style>
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-front {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;

  transform: translate(-50%, -50%);
  background-color: white;
}
</style>