<template>
  <b-container>
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Legge til SubRooms"
          header-bg-variant="danger"
          header-text-variant="white"
          class="cardBackground1"
        >
          <b-card-text>
            <b-form @submit="onSubmit">
              <b-form-group description="ID av rom" label="ID av rom">
                <select v-if="choseRoom == 'true'" v-model="room" required>
                  <option v-for="e in rooms" :key="e.id" v-bind:value="e">{{e.name}}</option>
                </select>
              </b-form-group>
              <b-form-group description="Navn" label="Navnet til delrom">
                <b-form-input v-model="name" required></b-form-input>
              </b-form-group>
              <b-form-group description="Beskrivelse" label="Beskrivelse av delrom">
                <b-form-input v-model="description" required></b-form-input>
              </b-form-group>
              <b-form-group description="Maks antall folk" label="Max folk">
                <b-form-input v-model="max" required></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-button type="submit" variant="outline-danger"
                  >Legg til Subrom</b-button
                >
              </b-form-group>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

import { Http } from "../services/Http.js"
const http = new Http();

export default {
   data() {
    return {
      choseRoom: "true",
      room: null,
      rooms: [],
      name: "",
      description: "",
      max: ""
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      let payload = {
        name: this.name,
        description: this.description,
        maxPeople: this.max
      }

    let id = this.room.id;

      http
        .postData("room/" + id + "/section", payload)
        
    },
    load_rooms(){
      http.getData("room")
        .then(response => response.json())
        .then(data => {
          this.rooms = data;
        });
    },
  },
  mounted: function() {
    this.load_rooms();
  },
  computed: {},

}
</script>

<style>

</style>