<template>
  <b-container>
    <!-- Vi skal ha opprett brukere, og statistikk side og utstyr-->
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Admin Kontroller"
          header-bg-variant="danger"
          header-text-variant="white"
          class="cardBackground1"
        >
          <b-row row>
            <b-button
              type="button"
              variant="outline-danger btn-block"
              class="menu-button"
              v-on:click="routeToUsers"
            >
              Legg til bruker
            </b-button>
          </b-row>
          <b-row row>
            <b-button
              type="button"
              variant="outline-danger btn-block"
              class="menu-button"
              v-on:click="routeToTools"
            >
              Legg til utstyr
            </b-button>
          </b-row>
          <b-row row>
            <b-button
              type="button"
              variant="outline-danger btn-block"
              class="menu-button"
              v-on:click="routeToStats"
            >
              Se statistikk
            </b-button>
          </b-row>
          <b-row row>
            <b-button
              type="button"
              variant="outline-danger btn-block"
              class="menu-button"
              v-on:click="routeToRoom"
            >
              Legg til rom
            </b-button>
          </b-row>
          <b-row row>
            <b-button
              type="button"
              variant="outline-danger btn-block"
              class="menu-button"
              v-on:click="routeToSubRoom"
            >
              Legg til SubRom
            </b-button>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {

    //Admin kan navigere til forskjellige admin options
    methods: {
    //Sender bruker til rom reservasjon
    routeToUsers(event) {
      event.preventDefault();
      this.$router.push({ name: "Admin Brukere" });
    },
    //sender bruker til utstyr reservasjon
    routeToTools(event) {
      event.preventDefault();
      this.$router.push({ name: "Admin Utstyr" });
    },
    //sender admin til admin controller
    routeToStats(event) {
      event.preventDefault();
      this.$router.push({ name: "Admin Statistikk" });
    },
    //sender admin til rom kontroller
    routeToRoom(event) {
      event.preventDefault();
      this.$router.push({ name: "Admin Rom" });
    },
    //sender admin til rom kontroller
    routeToSubRoom(event) {
      event.preventDefault();
      this.$router.push({ name: "Admin SubRom" });
    },
  },
};
</script>

<style>

.menu-button {
  margin-top: 5px;
  border-radius: 5px;
}

</style>