<template>
<b-container>
  <div class="checkChat">
    <select v-model="chat">
      <option v-for="c in chats" :key="c.id" v-bind:value="c">[{{c.id}}] {{c.name}}</option>
    </select>
    <h4 v-if="chat">Current chat room: [{{chat.id}}] {{chat.name}}</h4>
  </div>
   <b-row class="justify-content-md-center mt-4">
      <b-col>
        <div class="scrollbox border border-primary cardBackground1">
          <div v-for="message in messages" :key="message.id">
            <div v-if="chat && chat.id == message.subRoom.id" class="chat-message">[id: {{message.id}}] ({{message.postTime}}) {{message.poster.name}} said: {{message.content}}</div>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row class="input-field">
      <b-col>
        <b-form-input v-model="send_data" class="input cardBackground1">

        </b-form-input>
      </b-col>
      <b-col class="col-1">
        <b-button type=submit variant=primary @click="send()">Send</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { Http } from "../services/Http.js"
const http = new Http();
export default {
  data() {
    return {
      chat: null,
      send_data: "",
      chats: [],
      messages: [],
    };
  },
  methods: {
    send(){
      http.postData("message", { "content": this.send_data, "subRoomId" : this.chat.id })
      .then(response => {
        if (response.status == 201) this.load_chat();
      });
      this.send_data = "";
    },
    load_chat(){
      http.getData("message")
      .then(response => response.json())
      .then(data => {
        this.messages = data;
      })
    },
    load_chats(){
      http.getData("room/section")
        .then(response => response.json())
        .then(data => {
          this.chats = data;
        })
    }
  },
  mounted: function() {
    this.load_chats();
    this.load_chat();
  }
}
</script>

<style>
.scrollbox {
  height: 500px;
  overflow: auto;
  border: 2px;
  border-radius: 7px;

}
.chat-message {
  margin-left: 4px;
  margin-right: 4px;

}

.input-field {
  margin-top: 10px;  
}
.input {
  border-color: #007bff;
}

.checkChat {
  margin-top: 10px;
}
</style>