<template>
  <b-container>
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Log på"
          header-bg-variant="primary"
          header-text-variant="white"
          class="cardBackground1"
        >
          <b-card-text>
            <b-form @submit="onSubmit">
              <b-form-group description="Skriv in brukernavn" label="Brukernavn">
                <b-form-input v-model="username" required></b-form-input>
              </b-form-group>
              <b-form-group description="Skriv in passord" label="Passord">
                <b-form-input
                  v-model="password"
                  type="password"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-button type="submit" variant="outline-primary"
                  >Log på</b-button
                >
              </b-form-group>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { Http } from "../services/Http.js"
const http = new Http();
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      
      http.postLogin("user/login", this.username, this.password)
      .then(response => {
        if (response.status != 200){
          alert("bad login info");
          return;
        }
        this.$router.push({name: 'Menu'});
      })
    },
  },
  computed: {

  }
};
</script>

<style>
</style>