<template>
  <b-container>
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Hovedmeny"
          header-bg-variant="primary"
          header-text-variant="white"
          class="cardBackground1"
        >
          <b-row row>
            <b-button
              type="button"
              variant="outline-primary btn-block"
              class="menu-button"
              v-on:click="routeToRooms"
            >
              Reserevere
            </b-button>
          </b-row>
          <b-row row>
            <b-button
              type="button"
              variant="outline-primary btn-block"
              class="menu-button"
              v-on:click="routeToChat"
            >
              Chat
            </b-button>
          </b-row>
          <b-row row v-if="userIsAdmin">
            <b-button
              type="button"
              variant="outline-danger btn-block"
              class="menu-button"
              v-on:click="routeToAdmin"
            >
              Admin Verktøy
            </b-button>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

import { Http } from "../services/Http.js"
const http = new Http();  

export default {
  data: () => {
    return {
      userIsAdmin: false,
    };
  },
  methods: {

    checkIfAdmin() {
      http
        .getData("user/loggedIn")
        .then(Response => Response.json())
        .then(ting => {
        let u = ting;
        if(u.role.localeCompare("ADMIN") === 0) {
        this.userIsAdmin = true;
    }
  
      });
    },

    //Sender bruker til rom reservasjon
    routeToRooms(event) {
      event.preventDefault(event);
      this.$router.push({ name: "Room Reservation" });
    },
    //sender bruker til utstyr reservasjon
    routeToChat(event) {
      event.preventDefault(event);
      this.$router.push({ name: "Chat" });
    },
    //sender admin til admin controller
    routeToAdmin(event) {
      event.preventDefault();
      this.$router.push({ name: "Admin Controller" });
    },
    
  },
  mounted: function() {
      this.checkIfAdmin();
    }
};
</script>

<style>
.menu-button {
  margin-top: 5px;
  border-radius: 5px;
}
</style>