<template>
  <b-container>
    <b-row class="justify-content-md-center mt-4">
      <b-col col md="8">
        <b-card
          header="Mine reservasjoner"
          header-bg-variant="primary"
          header-text-variant="white"
          class="cardBackground1"
        >
        <button @click="delete_selected()">Delete selected</button>
          <b-card-text>
            <b-row class="justify-content-md-center mt-4">
              <div class="scrollbox border border-primary cardBackground1 ">
                <div v-for="l in my_leases" :key="l.id" :class="{selectedStyle : l.selected}" class="room border border-primary" @click="onclick(l)">
                  <b-col>[{{l.id}}] {{l.description}}<br><h5>from: {{l.from}}<br>to: {{l.to}}</h5></b-col>
                  <SubRoom v-for="s in l.subRooms" :key="s.id" :segment="s"></SubRoom>
                  <UtstyrComp
                    v-for="e in l.equipment"
                    :key="e.id"
                    :equipment="e"
                  ></UtstyrComp>
                </div>
              </div>
            </b-row>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { Http } from "../services/Http.js";
const http = new Http();
import SubRoom from "@/components/SubRoom.vue"
import UtstyrComp from "@/components/UtstyrComp.vue";
export default {
  components: {
    SubRoom: SubRoom,
    UtstyrComp: UtstyrComp,
  },
  data() {
    return {
      my_leases: [],
      user: {},
    };
  },
  methods: {
    delete_selected(){
      for (let i in this.my_leases)
        if (this.my_leases[i].selected)
          http.delData("lease/" + this.my_leases[i].id).then(() => this.load_my_leases());
    },
    load_my_leases(){
      http.getData("lease")
        .then(response => response.json())
        .then(data => {
          var new_data = [];
          for (let i in data){
            data[i].selected = false;
            if (data[i].leaser.id===this.user.id)
              new_data.push(data[i])
          }
          this.my_leases = new_data;
        });
    },
    onclick(lease){
      lease.selected = !lease.selected;
    },
    load_user() {
      http
        .getData("user/loggedIn")
        .then(Response => Response.json())
        .then(ting => {
        this.user = ting;
      });
    },
  },
  mounted: function () {
    this.load_user();
    this.load_my_leases();
  },
};
</script>

<style>
.utstyr-header {
    margin-right: 45%;
}
.selectedStyle{
    background-color: #007bff !important;
}
</style>