<template>
  <b-container>
    <b-form-group description="Start date to check" label="Start Date">
      <b-form-input v-model="from" type="datetime-local" required></b-form-input>
      </b-form-group><b-form-group description="End date to check" label="End Date">
      <b-form-input v-model="to" type="datetime-local" required></b-form-input>
    </b-form-group>
    <b-row class="justify-content-md-center mt-4">
      <b-col>
        <div class="scrollbox border border-primary cardBackground1">
          <RoomComp v-for="r in rooms" :key="r.id" :room="r" v-bind:leases="leases" v-bind:from="from" v-bind:to="to"></RoomComp>
        </div>
      </b-col>
      <b-col>
        <div class="scrollbox border border-primary cardBackground1">
          <UtstyrComp v-for="e in equipment" :key="e.id" :equipment="e" v-bind:leases="leases" v-bind:from="from" v-bind:to="to"></UtstyrComp>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        
      <b-form-input v-model="description" class="input"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-button
          type="button"
          variant="outline-primary btn-block"
          class="menu-button"
          v-on:click="lease()"
        >
          Lei
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { Http } from "../services/Http.js"
const http = new Http();
import RoomComp from "@/components/RoomComp.vue";
import UtstyrComp from "@/components/UtstyrComp.vue";
export default {
  components: {
    RoomComp: RoomComp,
    UtstyrComp: UtstyrComp,
  },
  data() {
    return {
      rooms: [],
      equipment: [],
      leases: [],
      description: "",
      from: "",
      to: "",
    }
  },
  methods: {
    lease(){
      let sgIds = [];
      let eqIds = [];
      for (const r in this.rooms)
        for (const sr in this.rooms[r].subRooms)
          if (this.rooms[r].subRooms[sr].selected)
            sgIds.push(this.rooms[r].subRooms[sr].id);
      for (const e in this.equipment)
        if (this.equipment[e].selected)
          eqIds.push(this.equipment[e].id);
      
      let body = {
        "from": this.from,
        "to": this.to,
        "subRoomIds": sgIds,
        "equipmentIds": eqIds,
        "description": this.description,
      }
      http.postData("lease", body)
        .then(response => {
          if (response.status == 201) return {};
          else return response.json();
        }).then(data => {
          if (data.error) alert(data.error);
          else {
            this.$router.push({name: 'My Reservations'});
          }
        });
    },
    load_rooms(){
      http.getData("room")
      .then(response => response.json())
      .then(data => {
        this.rooms = data;
      });
    },
    load_equipment(){
      http.getData("equipment")
        .then(response => response.json())
        .then(data => {
          this.equipment = data;
        });
    },
    load_leases(){
      http.getData("lease")
        .then(response => response.json())
        .then(data => {
          this.leases = data;
        });
    },
  },
  mounted: function() {
    this.load_rooms();
    this.load_equipment();
    this.load_leases();
  },
};
</script>

<style>
.scrollbox {
  height: 500px;
  overflow: auto;
  border: 2px;
  border-radius: 5px
}

.col {
  padding: 15px;
}
</style>